---
console.log("javascript");
---

<header class="py-8 px4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <h1 class="text-6xl font-bold text-white text-center">SpaceX Launches 🚀</h1>
  <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 text-center">
    All the information about SpaceX launches
  </p>
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <a class="text-white" href="/">Últimos lanzamientos</a>
    <a class="text-white" href="/oldest">Los más viejos</a>
  </nav>
</header>
